registry=https://pkgs.dev.azure.com/picklesauctions/_packaging/Npm_packages/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 10/30/2020.
; begin auth token
//pkgs.dev.azure.com/picklesauctions/_packaging/Npm_packages/npm/registry/:username=picklesauctions
//pkgs.dev.azure.com/picklesauctions/_packaging/Npm_packages/npm/registry/:_password=MmVtNjJmNHJlbHc3ZjJvZTdkb2NsZHB4dXRkdTM3Z2xwd2g1eXhodDJzdWdsZWJ6NmNsYQ==
//pkgs.dev.azure.com/picklesauctions/_packaging/Npm_packages/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/picklesauctions/_packaging/Npm_packages/npm/:username=picklesauctions
//pkgs.dev.azure.com/picklesauctions/_packaging/Npm_packages/npm/:_password=MmVtNjJmNHJlbHc3ZjJvZTdkb2NsZHB4dXRkdTM3Z2xwd2g1eXhodDJzdWdsZWJ6NmNsYQ==
//pkgs.dev.azure.com/picklesauctions/_packaging/Npm_packages/npm/:email=npm requires email to be set but doesn't use the
; end auth token
